@charset "UTF-8";

/* PALETA DE CORES
    para bg = #CA3C54; #D94756; #E34F58

    interno = #C03453; #DA4957; #CB3D54

    outros = #E1A6B4
*/

* {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #CA3C54;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    background-color: white;
    width: 320px;
    height: 450px;
    box-shadow: 0 px 0px 8px rgba(0, 0, 0, 0.406);

    transition: width 0.2s, heitgh 0.2s;
    transition-timing-function: ease;
}

div#sty {
    display: block;
    background-image: linear-gradient(to bottom, #C03453, #DA4957);
    height: 100px;
}

#sty > p {
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    padding-top: 35px;
}

#form {
    display: block;
    padding: 40px;
    
}

#traco {
    border-bottom: 2px solid white;
}

form {
    width: 100%;
    max-width: 350px;
}

h1 {
    padding-bottom: 20px;
}

.input-login {
    width: 100%;
    margin: 5px 0;
    position: relative;
    margin-left: 10px;
}

#ico {
    left: -25px;
}

#label {
    padding-left: 5px;
}

.input-login label {
    font-size: 1em;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: #d9d9d9;
    cursor: text;
    transition: .5s ease-in-out;
}

.input-login input {
    width: 90%;
    padding: 5px;
    color: #D94756;
    border: 0;
    border-bottom: 2px solid #d9d9d9;
    outline: none;
    font-size: 1em;
}

#senha {
    padding-top: 25px;
}

.input-login .input:focus, .input-login .input:valid {
    border-bottom: 2px solid #D94756;
}

.input-login .input:focus ~ #label , .input-login .input:valid ~ #label {
    transform: translatey(-24px);
    font-size: 0.8em;
}
.input-login .input:focus ~ label , .input-login .input:valid ~ label {
    color: #D94756;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9em;
    transition: .3s;
}

a:hover {
    color: #D94756;
}

.btn {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 25px;
    margin: 15px 0;
    font-size: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #D94756,#ee5963, #D94756);
    color: white;
    text-transform: uppercase;
    background-size: 200%;
    transition: .5s;
}
.btn:hover {
    background-position: right;
}