@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 70vw;   
        height: 400px;
        display: inline-block;
    }

    section#login > div#form {
        float: right;
        width: 45vw;
        height: 100vh;
    }

    section#login > div#sty {
        float: left;
        width: 25vw;
        height: 100vh;
    }
    
    #sty > p {
        text-align: center;
        margin-top: 135px;
    }
    

}

@media screen and (min-width: 992px) {
    section#login {
        width: 750px;   
        height: 400px;
        display: inline-block;
    }

    section#login > div#form {
        float: right;
        width: 500px;
        height: 100vh;
    }

    section#login > div#sty {
        float: left;
        width: 250px;
        height: 100vh;
    }
    
    #sty > p {
        text-align: center;
        margin-top: 135px;
    }

}

