@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image:linear-gradient(50deg, #CA3C54, #C63853, #EC5659);
    }
    
    section#login {
        width: 70vw;   
        height: 400px;
        display: inline-block;
    }

    section#login > div#form {
        float: left;
        width: 45vw;
        height: 400px;
    }

    section#login > div#sty {
        float: right;
        width: 25vw;
        height: 400px;
    }

    #form {
        padding: 50px;
    }
    
    #sty > p {
        text-align: center;
        margin-top: 135px;
    }
    
    .btn {
        height: 40px;
        font-size: 1.1;
        margin: 20px 0;
    }

}

@media screen and (min-width: 992px) {
    body {
        background-image:linear-gradient(50deg, #CA3C54, #C63853, #EC5659);
    }

    section#login {
        width: 750px;   
        height: 400px;
        display: inline-block;
    }

    
    section#login > div#form {
        float: right;
        width: 500px;
        height: 100vh;
    }
    
    section#login > div#sty {
        float: left;
        width: 250px;
        height: 100vh;
    }

    #form {
        padding: 70px;
    }
    
    #sty > p {
        text-align: center;
        margin-top: 135px;
    }

    .btn {
        height: 50px;
        font-size: 1.2;
        margin: 20px 0;
    }


}

